@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #9ED7FF;
  margin: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#nav {
  text-align: center;
  background-color: #FFB0AE;
  height: 80px;
  padding-top: 30px;
  font-size: 30px;
}

#info {

}

#content {
  max-width: 1300px;
  text-align: center;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#recipes {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.onerecipe {
  min-height: 200px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
}
