<!DOCTYPE html>

  <html>

    <head>
      <meta charset="utf-8">
      <title>Recipe Book</title>
      <link rel="stylesheet" href="static/screen.css" />
      <meta name="description" content="Organise your recipes & keep them safe in one place." />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
    </head>

    <body>
      <div id='nav'>
        <a href="{{ url_for('index') }}">Home</a>
        &nbsp;&#10047;&nbsp;
        <a href="{{ url_for('numbers') }}">Add Recipe</a>
        &nbsp;&#10047;&nbsp;
        <a href="{{ url_for('view') }}">View Recipes</a>
      </div>

      <div class='content'>
        <form action="/confirm" method="post">
          <p>
            <label for="name">Recipe Name</label>
            <br>
            <input type="text" id="name" name="name" autocomplete="off" required/>
          </p>
            {% for i in ingred %}
              <p>
                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" name="quantity{{i}}" autocomplete="off"/>
                <label for="ingredient">Ingredient:</label>
                <input type="text" id="ingredient" name="ingredient{{i}}" autocomplete="off"/>
              </p>
            {% endfor %}

            {% for m in methodnum %}
              <p>
                <label for="steps">Step {{m+1}}</label>
                <br>
                <textarea id="method" name="method{{m}}" rows="4" autocomplete="off"></textarea>
              </p>
            {% endfor %}

            <input type="submit" value="Add Recipe" class='btn'/>
        </form>
      </div>

    </body>

  </html>
