<!DOCTYPE html>

  <html>

    <head>
      <meta charset="utf-8">
      <title>Recipe Book</title>
      <link rel="stylesheet" href="static/screen.css" />
      <meta name="description" content="Organise your recipes & keep them safe in one place." />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
    </head>

    <body>
      <div id='nav'>
        <a href="{{ url_for('index') }}">Home</a>
        &nbsp;&#10047;&nbsp;
        <a href="{{ url_for('numbers') }}">Add Recipe</a>
        &nbsp;&#10047;&nbsp;
        <a href="{{ url_for('view') }}">View Recipes</a>
      </div>

      <div class='background'>
        <div id='confcont'>
          <span class="centertext"><p>Your recipe has been added!</p>
          <h1>{{name}}</h1>
          <br>
          <h3>Ingredients:</h3></span>
          <div id='ingredients'>
            {% for i in ingredients %}
              <div class='ingred'>
                {{ingredients[i]}} {{i}}<br>
              </div>
            {% endfor %}
          </div>

          <br>

          <span class="centertext"><h3>Method:</h3></span>
          <p>
            <ol>
              {% for m in method %}
                <li>{{m}}</li><br>
              {% endfor %}
            </ol>
          </p>
        </div>
      </div>

    </body>

  </html>
